* {
    box-sizing: border-box;
    color: #00FF00;
    background-color: #000000;
    font-family: sans-serif;
    font-size: 16px;
}

@keyframes fadeInOut {
    0% { opacity: 0 }
    50% {
         transform: scale(1.5);
         opacity: 1;
        }
    100% { opacity: 0 }
  }